:root{
    --search-fill: #303030;
    --main-bg : #f1f1f1;
    --grey : #b5b5b5;
    --font-light: #e3e3e3;
    --nav-bg: #1a1a1a;
    --not-fill: #303030;
    --search-stroke: #616161;
    --guide-stroke: #dbdbdb;
    --dc-fill: #36fba1;
    --font-dark: #323232;
    --font-light2 : #f6f3f6;

}


* body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', serif;
    background-color: var(--main-bg);
}

nav{
    background-color: var(--nav-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 3.5rem; */
    padding: 0.75rem 1rem 0.75rem 1rem;

}
.shop-icons{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

/* This is the style for input container */
.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: .375rem;
    border: 1px solid var(--search-stroke);
    border-radius: 8px;
    padding: 8px;
    /* height: 32px; */
    background-color: var(--search-fill);
    
}

.input-container input{
    background: var();
    width: 30rem;
    border: none;
    background-color: var(--search-fill);

    color: var(--grey);
}

.input-container input[placeholder]{
    font-weight: 500;
    font-size: medium;
    color: var(--grey);

}

.search svg{
    width: 1.25rem;
    background-color: var(--search-fill);
    
}

/* this is the style for the notifications */
.notification{
    display: flex;
    align-items: center;
    gap: .5rem;
    justify-content: center;
    position: relative;    
}

.bell{
    background-color: var(--not-fill);
    border: none;
    padding: 6px;
    border-radius: 8px;
}

.profile{
    color: var(--font-light);
    background-color: var(--not-fill);
    display: flex ;
    align-items: center;
    height: 2rem;
    border-radius: 8px;
    padding: 2px 0px;
}

.profile :nth-child(1){
    padding: 0 8px;
    font-size: 12px;
    font-weight: 500;
}

.profile .dc, .dc-content .dc{
    background-color: #36fba1;
    text-align: center;
    border-radius: 6px ;
    padding: 7px 5px 8px 5px;
    color: rgba(0, 0, 0, .4);
    line-height: 15.6px;
    font-size: 12px;
}



/* this is the style for the second section */

main{
    background-color: var(--main-bg);

}

.second{
    width: 50rem;
    margin: 0 auto;
    margin-top: 2rem;
}
.start{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background-color: var(--nav-bg);
    height: 3.5rem;
    padding: 12px 8px 12px 16px;
    position: relative;

}
.start p{
    font-size: 13px;
    font-weight: 500;
    color: var(--font-light);
}
.select-plan{
    display: flex;
    align-items: center;
    gap: 8px;
}

.select-plan .plan{
    color: var(--font-dark);
    background-color: white;
    padding: 6px 12px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .1);
    position: relative;
    right: 1.5rem;

}


/* this is the first setup */
.first-setup{
    
    border: 1px solid var(--guide-stroke);
    margin: 1rem auto;
    color: var(--font-dark);
    padding: 8px;
    border-radius: 8px;
    
    
}
.first-setup :nth-child(2){
    font-size: 13px;
    line-height: 0%;
    font-weight: 400;
}
.first-setup :nth-child(3){
    font-size: 12px;
    font-weight: 400;
    padding-top: .5rem;
}


.section-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
    line-height: 0%;
}

.section-one p{
    color: var(--font-dark);
    font-size: 14px;
    font-weight: 600;
}
span.cancel{
    
    position: absolute;
    right: .35rem;
}

progress{
    background-color: var(--font-light);
    border-radius: 28px;
    height: 4px;
    width: 4.5rem;
    appearance: none;
    
}

progress::after{
    background-color: #1a1a1a;
}

.progressing{
    display: flex;
    align-items: center;
    gap: 8px ;
}


/* This is for the section two */

.section-two{
    
    display: flex;
    justify-content: space-between;
    background-color: #f6f3f6;
    padding: .5rem;
    border-radius: 8px;
    margin-top: .5rem;
}

.section-two .selection{
    display: flex;
    gap: .5rem;
 

}

.customize{
    font-size: 13px;
    font-weight: 600;
    color: var(--font-dark);
}

.choose-learn{
    padding: 1rem 0;
}

.custom-button{
    background-color: #404040;

    border: 1px solid rgba(255, 255, 255, .2);
}
.learn{
    color: #005bd3;
}

/* This is for the drop down of the notification bell */

.notification-alert{
    position: absolute;
    background-color: #fff;
    top: 4.5rem;
    right: 0rem;
    width: 24rem;
    border: 1px solid var(--guide-stroke);
    border-radius: 14px;
    padding: 1rem;
    z-index: 1;
}


.alert-top-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alert-top-content p{
    font-size: 14px;
    font-weight: 600;
    color: var(--not-fill);
}
.alert-text{
    background-color: var(--main-bg);
    color: var(--search-stroke);
    font-size: 13px;
    font-weight: 600;
    padding: 1rem;
}

/* This is for the collections drop down */
.collection-drop-down{
    position: absolute;
    top: 3.5rem;
    width: 20rem;
    right: 0;
    z-index: 1;
    background-color: white;
    padding: 6px 0;
    border-radius: 14px;
}

.dc-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px 0px 8px;
    height: fit-content;
    background-color: var(--main-bg);
    border-radius: 8px;
    height: 2.25rem;
}

.first-contain{
    padding: 0 6px;
}
.dc-content{
    display: flex;
    align-items: center;
    line-height: 0;
}

.dc-content:nth-child(1){
    color: var(--search-fill);

}

.store-icon{
    display: flex;
    align-items: center;
    padding: 0 8px;
    line-height: 0;
    font-size: 13px;
    font-weight: 600;
}
.collection-links{
    padding: 2px 14px;
    display: flex;
    flex-direction: column;
}
.collection-links a{
 text-decoration: none;
 color: var(--search-fill);
 padding: 4px 2px;
 font-size: 13px ;
 font-weight: 600px;
}





























/* This is the style for the media queries */

@media screen and (min-width:730px) {
    .shop-icon-two {
        display: none;
    };
};